.container {
	margin: 5% 20%;
}
h1, h2 {
	text-align: center;
}
.player-section {
	display: inline-block;
	margin: 10px 50px;
}
.input {
	padding: 5%;
	border: 3px solid hsla(0, 0%, 43%, 1);
}
.players-container {
	text-align: center;
}
.btn {
	padding: 5px 20px;
	background: hsla(0, 0%, 43%, 1);
}
.score {
	font-weight: bold;
	font-size: 1.5em;
}
/*.serving {
	border: 1px solid hsla(0, 0%, 43%, 1);
}*/